.user-page {
  padding: 5px 15px;
  color: black;
  font-weight: bold;

  &-avatar {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row: span 6;
  }

  &-headerData {
    grid-column-start: 1;
    grid-column-end: 4;
    text-decoration: underline;
    font-size: 1.2em;
    min-width: 300px;
  }

  &-homeLink {
    grid-column-start: 1;
    grid-column-end: 13;
    width: fit-content;
    border-radius: 5px;
    font-style: italic;
    margin-left: 18px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.1);


    &:hover {
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }


  &-profileText {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}
